/docker-compose.override.yaml
/docker-compose.override.yml
composer.phar
.buildpath
.project
.settings/
behat.yml
.php_cs.cache
ide-twig.json
.idea
.vagrant
/aliases
.idea/
.DS_Store
/api/vendor
node_modules
/api/public/bundles
/api/public/css
/api/public/js
/api/var/*
.php~